       .bash_history
       .bash_logout
       .bash_profile
       .bashrc
       .cache/
       .cshrc
       .gitconfig
       .local/
       .pip/
       .pydistutils.cfg
       .pylint.d/
       .python_history
       .ssh/
       .tcshrc
       .viminfo
       .virtualenvs/
       .vscode-server/
       .vscode/
